@page "/Gerenciar_Usuario"
@using BlazorApp1.Client.Services
@using BlazorApp1.Client.Shared.Inputs
@using BlazorApp1.Client.Entities
@using System.Collections.ObjectModel;
@inject ClienteService ClienteService

<PageTitle>Gerenciar Usuários</PageTitle>

<h1>Gerenciar Usuários</h1>


		<ClienteForm></ClienteForm>


<!-- Listar os clientes -->
<h2>Lista de Clientes</h2>

@if (ClienteService.Clientes.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var cliente in ClienteService.Clientes)
			{
				<tr>
					<td>@cliente.Nome</td>
					<td>@cliente.Email</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Nenhum cliente foi criado ainda.</p>
}

@code {
	
}
